.todoListView > .MuiPaper-root:first-child{
  padding: 30px 5px;
}

.todoListView .MuiIconButton-root:hover > .MuiIconButton-label {
  color: red;
}

.todoListView .MuiCheckbox-root:hover > .MuiIconButton-label,
.todoListView .MuiCheckbox-root.MuiCheckbox-colorSecondary.Mui-checked {
  color: green;
}
