
.signupView > .MuiPaper-root > div:first-child *{
  margin: 12px;
}

.signupView > .MuiPaper-root > .MuiFormControl-root{
  margin-top: 0;
}

.signupView > .MuiPaper-root > p{
  text-align: left;
  font-size: 15px;
}